body {
  background-image: url("/assets/animeroad.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 1.2em;
  line-height: 1.5em;
}

code {
  background-color: rgb(37, 35, 35);
  display: table;
  color: #fff;
  padding: 5px 20px;
  box-sizing: border-box;
  border-radius: 5px;
}

.mid {
  background-color: rgb(39, 37, 37);
  display: table;
  color: rgb(132, 219, 200);
  padding: 5px 20px;
  box-sizing: border-box;
  border-radius: 5px;
}

.written-stuff {
  font-weight: bold;
}

/* Center Body */

.functions {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.anyanime h2 {
  color: black;
}

.anyanime p {
  color: lightskyblue;
}

/*  codes  */

.npm,
.channel,
.anime {
  color: orange;
}

.pkg,
.if {
  color: rgb(255, 25, 255);
}

.const {
  color: pink;
}

.require,
.message {
  color: lightskyblue;
}

.embed {
  color: rgb(16, 185, 16);
}

.console {
  color: grey;
}

.comment,
.client {
  color: greenyellow;
}

.new {
  color: violet;
}

.links a {
  color: rgb(88, 118, 255);
  text-decoration: none;
  font-weight: 500;
}

.links a:hover {
  color: rgb(0, 0, 0);
}

@media screen and (max-width: 1000px) {
  .topimg {
    width: 100%;
  }
}

/*------Footer------*/
.footer {
  width: 100%;
  text-align: center;
  padding: 10px 0;
}
.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(37, 37, 37, 0.979);
  width: max-content;
  margin: 0 auto;
  border-radius: 25%;
}
.icons .fab {
  color: rgb(117, 107, 255);
  margin: 0 20px;
  padding: 18px 0;
}
